:root{
  --green_:#6cc2beda;
  --blue_:#5A809E;
  --purple_:#7C79A2;
  --red_:#F57D7C;
  --peach_:#FFC1A6;
  --yellow_:#FEE4C4;
  --button-size:60px;
}

.App {
  text-align: center;
  min-height: 100vh;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--green_) ;

}

.jumbotron{
  padding: 2rem 2rem !important;
}


.jumbotron_title{
  margin-bottom:40px;
  color:var(--blue_) !important;
  text-decoration: underline;
  text-shadow: 1px 1px rgba(0,0,0,.25);
}

.contact-us{
  background-color: var(--peach_);
}

.contact-us-content{
  background-color: var(--yellow_);
  width: 100%;
  max-width: 80%;
  border-radius:10px;
  color:var(--blue_) !important;
  margin:25px 0;
  padding: 15px;
  text-align: left;
}

.services-card-group{
  /* margin:auto;*/
  max-width:80%;
  width: 100%; 
  display: flex;
  justify-content: space-between;
}
.products{
  background-color: var(--green_);
}

.services{
  background-color: var(--peach_);
}

.about-us{
  background-color: var(--green_);
}


.title_text{
  text-align: left;
  margin: 15px 0;
  color:var(--blue_) !important;
  text-decoration: underline;
  text-shadow: 1px 1px rgba(0,0,0,.25);
  max-width: 80%;
  width: 100%;

}

.space_between_sections{
  margin-bottom:70px !important;
}

.decoration_line{
  margin: 20px 0;
  border-bottom: 5px solid white;
  max-width: 100%;
  width: 100%;
}

.green_line{
  border-color: var(--green_) !important;
}

.section{
  max-width:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px 0 40px 0;
}

.social-media-buttons{
  box-shadow: 2px 2px 2px 1.25px rgba(0, 0, 0, 0.2);
  background:var(--red_);
  border-radius: 50%;
  max-width: var(--button-size);
  max-height: var(--button-size);
  min-width: var(--button-size);
  min-height: var(--button-size);
  transition:all ease-in-out .3s;
}

.social-media-buttons:hover{
  box-shadow: 5px 5px 5px 1.25px rgba(0, 0, 0, 0.2);
  border-radius:50%;
  transform: scale(1.25,1.25);
}

.social-media-bar{
  max-width: 20%;
  width:100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}